$font-family-sans-serif:  'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB','Microsoft YaHei', 'Helvetica Neue', Helvetica;
html {
  font-family: $font-family-sans-serif;
  font-weight: lighter;
}
